/.vscode
/ALTER TABLE job_applied.sql
/Case_Expression_Queries.sql
/csv_files
/Drop_Table.sql
/Example of sub query.sql
/INSERT INTO job_applied.sql
/Jan_Feb_Mar_Table_Query.sql
/Practise questions.sql
/Query Function for Handling Date.sql
/SELECT.sql
/sql_course.session.sql
/Sub_query_Practice_Problems.sql
/Union Practise Problem Query.sql
/Union Queries.sql
/UPDATE job_applied.sql